<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hello.mapper.EmpExprMapper">
    <select id="getByEmpId" resultType="com.example.hello.entity.EmpExpr">
        SELECT * FROM emp_expr WHERE emp_id = #{empId}
    </select>

    <delete id="deleteByEmpId">
        DELETE FROM emp_expr WHERE emp_id = #{empId}
    </delete>

    <insert id="insert">
        INSERT INTO emp_expr (emp_id, company, position, start_date, end_date)
        VALUES (#{empId}, #{company}, #{position}, #{startDate}, #{endDate})
    </insert>

    <update id="update">
        UPDATE emp_expr
        SET company = #{company},
            position = #{position},
            start_date = #{startDate},
            end_date = #{endDate}
        WHERE id = #{id}
    </update>
</mapper> 